<div>
  <!-- Dropdown and Calendar Section -->
  <div class="shadow-md bg-white p-4 flex flex-col sm:flex-row items-center justify-between space-y-4 sm:space-y-0">
    <div class="flex flex-col sm:flex-row items-center space-x-0 sm:space-x-4 space-y-4 sm:space-y-0">
      <div class="relative">
        <button id="dropdownSearchButton" (click)="toggleDropdown()" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:from-blue-400 hover:to-blue-300 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg h-12" type="button">
          Selectionner un capteur
          <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownSearch" [class.hidden]="!dropdownOpen" class="absolute bg-white rounded-lg shadow w-[200px] h-auto mt-2 max-h-[550px] overflow-y-auto z-50">
          <ul class="w-full cursor-pointer text-sm text-gray-700" aria-labelledby="dropdownSearchButton">
            @for (sensor of sensors; track sensor) {
              <li>
                <div class="flex items-center p-2 cursor-pointer rounded hover:bg-gray-100">
                  <input id="{{'checkbox-item-' + sensor.sensorId}}" type="checkbox" class="cursor-pointer w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2" (change)="CheckedSensor($event, sensor)">
                  <label [for]="'checkbox-item-' + sensor.sensorId" class="cursor-pointer w-full ms-2 text-sm font-medium text-gray-900 rounded">{{ sensor.sensorName }}</label>
                </div>
              </li>
            }
          </ul>
        </div>
      </div>
      <!-- Calendar -->
      <mat-form-field class="custom-date-picker pt-5 w-full sm:w-auto">
        <input matInput [matDatepicker]="picker" placeholder="Selectionner une date" [formControl]="date" class="text-xl p-2 h-full">
        <mat-datepicker-toggle matIconSuffix [for]="picker" class="text-xl" (click)="closeDropdown()"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <button type="button" (click)="Visualise()" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:from-blue-400 hover:to-blue-300 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 h-12">Visualiser</button>
  </div>

  <div class="flex h-screen">
    <!-- Sidebar sensor -->
    <div class="relative md:relative z-20">
      <div id="sidebar" 
           [ngClass]="{'-translate-x-full md:translate-x-0': !SideBareSensor, 'translate-x-0': SideBareSensor}" 
           class="transform transition-transform duration-300 md:translate-x-0 bg-white shadow w-[180px] h-auto mt-2 max-h-full overflow-y-auto flex-shrink-0 fixed md:relative">
        <ul class="text-center w-full text-sm text-gray-700">
          @if (isMeasuresLoad) {
            @for(checkedSensor of checkedSensors; track checkedSensor) {
              <li class="flex px-4 py-2 hover:bg-blue-100" 
                  [ngClass]="{'bg-blue-200': checkedSensor.isActive}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.348 14.652a3.75 3.75 0 0 1 0-5.304m5.304 0a3.75 3.75 0 0 1 0 5.304m-7.425 2.121a6.75 6.75 0 0 1 0-9.546m9.546 0a6.75 6.75 0 0 1 0 9.546M5.106 18.894c-3.808-3.807-3.808-9.98 0-13.788m13.788 0c3.808 3.807 3.808 9.98 0 13.788M12 12h.008v.008H12V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
                <button type="button" class="cursor-pointer ml-2" (click)="setActiveSensor(checkedSensor)">
                  <span>{{ checkedSensor.sensorName }}</span>
                </button>
              </li>
            }
          }
        </ul>
      </div>
    </div>
  
    <!-- Main Content -->
    <div class="flex flex-col flex-grow p-4 md:p-0">
  
      <!-- Toggle Button for Sidebar (Visible on Mobile) -->
      @if(isSideBareSensorButtonVisible) {
        <button class=" absolute top-1 right-0 m-2 text-white  rounded md:hidden       inline-flex items-center bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:from-blue-400 hover:to-blue-300 focus:ring-2 focus:outline-none focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5" (click)="toggleSensorSidebar()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.348 14.652a3.75 3.75 0 0 1 0-5.304m5.304 0a3.75 3.75 0 0 1 0 5.304m-7.425 2.121a6.75 6.75 0 0 1 0-9.546m9.546 0a6.75 6.75 0 0 1 0 9.546M5.106 18.894c-3.808-3.807-3.808-9.98 0-13.788m13.788 0c3.808 3.807 3.808 9.98 0 13.788M12 12h.008v.008H12V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg>
        </button>
      }
  
      <!-- Position destination Content -->
      @if (currentSensor?.sensorId && isMeasuresLoad) {
        <div class="w-full flex justify-center mt-2 px-2">
          <div class="bg-white rounded-lg shadow h-auto py-2 w-full max-w-lg sm:max-w-5xl flex flex-col sm:flex-row justify-between items-center mx-auto">
            <div class="w-full sm:w-1/4 text-center p-2">
              <label for="position" class="block text-sm font-medium text-gray-700">Position</label>
              <p>{{ currentSensor?.position }}</p>
            </div>
            <div class="flex-grow mx-2 flex items-center justify-center p-2 w-full sm:w-auto">
              <span class="block w-full border-b-2 border-dashed border-gray-300"></span>
            </div>
            <div class="w-full sm:w-1/4 text-center p-2">
              <label for="destination" class="block text-sm font-medium text-gray-700">Destination</label>
              <p>{{ currentSensor?.destination }}</p>
            </div>
          </div>
        </div>

        <div class="w-full flex justify-center mt-7 px-2">
          <div class="bg-white rounded-lg shadow h-auto py-2 w-full  mx-auto">
            <h1 class="px-4 titre-class text-left">Débit du capteur {{ currentSensor?.sensorName }} pour le {{ dateFormat }} sur 24H (Tableau)</h1>
            <div class="flex justify-center mt-1">
              <div class="overflow-x-auto px-4 w-[400px]  sm:w-[400px] md:w-[300px] lg:w-[650px] xl:w-[800px]">
                <table class="table-auto content-center bg-white border border-gray-300 w-full">
                  <tbody>
                    <tr>
                      <td class="text-center border bg-stone-100 border-gray-300 px-2 py-1 w-auto">Heures</td>
                      @if (currentMeasures.length > 0) {
                        @for (Count of hourlyCarCount; track Count) {
                          <td class="text-center border border-gray-300 py-1 w-auto">{{ Count.hour }}</td>
                        }
                      } @else {
                        <td class="text-center border border-gray-300 py-1 w-full" rowspan="2" colspan="100%">Pas de mesures</td>
                      }
                    </tr>
                    <tr>
                      <td class="text-center border bg-stone-100 border-gray-300 px-2 py-1 w-auto">Voitures</td>
                      @if (currentMeasures.length > 0) {
                        @for (Count of hourlyCarCount; track Count) {
                          <td class="text-center border border-gray-300 px-2 py-1 w-auto">{{ Count.nbCar }}</td>
                        }
                      }
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        <!-- chart -->
        <div class="w-full flex justify-center mt-7 px-2">
          <div #chartContainer id="container" class="mt-4 rounded-lg shadow w-[400px]  sm:w-[640px] md:w-[400px] lg:w-[650px] xl:w-[800px]" ></div>
        </div>
        
        
      }
    </div>
  </div>
  
</div>




  
